{% extends 'layouts/base.twig' %}
{% block l_content %}
  <div id="l-content">
    {% if filename %}
      {% markdown 'markdown/'~filename %}{% endmarkdown %}
    {% endif %}
  </div>
{% endblock %}
