//=========================================================
//
//  Wicle Usage Example
//
//=========================================================

@import "wicle/scss/wdk/constants";

$site-header-height: 4rem;

//--- wdk hooks: this should come before importing wdk
@mixin wdk-hook-variables-init() {
  //$w-font-size:           16px !global;
  $w-font-sans:           $w-font-open-sans !global;
  //$w-color-theme:       $w-color-french-rose !global;
}


//---------------------------------------------------------
// config wicle collection
//---------------------------------------------------------
@mixin w-hook-layout-default-init() {
  $key: 'w-layout-default';
  //@include ssv($key, 'page/font-family', $w-font-roboto, true);
  //@include ssv($key, 'page/code/bg', #f3f6fa, true);
}

//--- wicle init hooks: called before default variables are set
@mixin w-hook-navbar-init() {
  $key: 'w-navbar';
  @include ssv($key, 'height', $site-header-height, true);
}

@mixin w-hook-nav-init() {
  $key: 'w-nav';
  //@include ssv($key, 'font-size', 1.25rem, true);
  //@include ssv($key, 'icon/font-size', 1.25rem, true);
}
