@import "wicle.config";
@import "wicle/scss/wicle";

@import "region/header";
@import "region/banner";
@import "region/sidebar";
@import "region/footer";

//// make #l-content selector more specific to override existing #l-content
#l-page > .w-content {
  padding-top: 1rem;
  border-top: 1px solid gray(60%, 0.3);
  em {  color: #c30;  }
  //h1,h2,h3,h4,h5,h6 {
  //  color: $w-color-primary;
  //}
  //h4,h5,h6 {
  //  margin-bottom:0.1rem;
  //}
  //pre.highlight {
  //  padding: 0.8rem;
  //  margin: 0.5rem 0;
  //  border-radius: 4px;
  //  background-color: #f3f6fa;
  //  border: solid 1px #dce6f0;
  //}

  @include w-mq(medium) {  border-top: none;  }
}

// hiligtjs
.hljs {
  background: #f3f6fa;
}