@import "wicle.config";
@import "wicle/scss/wicle";

@import "region/header";
@import "region/banner";
@import "region/sidebar";
@import "region/footer";

.w-content {
  border-bottom: 1px solid gray(60%, 0.3);
  @include w-mq(large) {  border-bottom: none;  }
}

// code highlighter: highlight.js
.hljs {
  background: $w-color-code-block-bright;
}