.l-sidebar {
    @include w-media(large) {
        position: sticky;
        top: 0;
    }

    h1 {
        text-align: center;
    }

    h3 {
        font-size: 1.2rem;
        margin: 1.5rem 0 0 0;
        color: gray(30%);
    }

    a {
        color: $w-color-falu-red;
        &:hover {
            color: $w-color-dark-red;
            font-weight: bold;
        }
    }

    // table of contents list
    ul {
        margin: 0;
        padding: 0;
        list-style: disc;
        list-style-position: inside;
        &>li {
            margin: 0; // 0.5rem 0 0 0;
            padding: 0rem 1rem;
        }
    }
}
