#l-header .nav {
  width: 100%;
  float: right;
  .logo {
    font-size: 1.5rem;
    font-weight: 500;
    float: left;
    margin: 0;
    a {
      color: white;
      text-decoration: none;
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        width: 1.5rem;
        height:1.5rem;
        background: svg-load("gbm.svg", fill=#fff) no-repeat;
        background-size: contain; // this should come after svg-load()
        top: 0.4rem;
        margin-right: 0.5rem;
      }
    }
  }
  .ui.menu {
    float: right;
    margin: 0;
    box-shadow: none;
    background: transparent;
    border: none;
    .item {
      padding: 0.5rem;
      color: gray(80%);
      &:before {
        background: transparent;
      }
      &:hover {
        color: white;
      }
    }
  }
}
