#l-banner {
  margin:0;
  padding: 2rem 1rem;
  color: $w-color-text-white;
  text-align: center;
  background-color: #004d66;
  p {
    font-size: 1.2rem;
  }

  .w-button {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
    &, &:visited {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}