#l-header {
  position: relative;
  padding: 0.5rem 1rem;
  color: #fff;
  text-align: center;
  height: 4rem;

  //background-color: #159957;
  //background-image: linear-gradient(120deg, #155799, #159957);
  //border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  //background-color: var(--color-year--dark-alpha,#290008);
  background-color: #004b66;
  background-image: linear-gradient(45deg, #00384D, #004b66);
  //border-bottom: 5px solid red; // #004b66;
}
