//=========================================================
//
//  Wicle Usage Example
//
//=========================================================

@import "wdk"; // Make WDK constants available (color/font names, etc.)

//--- Global Site Variables
$site-header-height: 4rem;

//--- Theme Configuration
// select one of Wicle predefined themes
// @import "wicle/themes/amaranth";
// @import "wicle/themes/harley-davison-orange";
// @import "wicle/themes/purple";
// @import "wicle/themes/teal";
// $w-theme-color:       $w-color-french-rose;


//-----------------------------------------------
//  Wicle custom config
//-----------------------------------------------
$w-page-max-width:              1220px;
$w-font-sans:                   $w-font-open-sans;
$w-font-text:                   'Source Sans Prp', $w-font-open-sans;
$w-theme-color-link:            red; // darken($w-theme-color, 10%) !default;
// $w-font-size: 15px;


@mixin wicle-custom-config {
    $key: 'w-reset';
    @include ssv($key, 'a/fg', $w-color-text-red, true);

    //--- navbar
    $key: 'w-navbar';
    @include ssv($key, 'height', $site-header-height, true);

    //--- nav
    //$key: 'w-nav';
    //@include ssv($key, 'item-wrapper/fg', $w-color-shalimar);

    //--- layout
    // $key: 'w-layout';
    // @include ssv($key, 'page/font-family', $w-font-roboto, true);
}

@include wicle-custom-config();


//--- Include Wicle config
@import "wicle.config";


//-----------------------------------------------
//  Wicle modules
//-----------------------------------------------
@import "wicle";

//--- sass-wdk: visibility classes (see sass-wdk _visibility.scss for details)
// @include w-visibility-generate-classes; // generate all classes
// @include w-visibility-generate-classes((show, hide), (medium, large)); // generate selective classes

//--- wicle: theme colors for button and panel
@include w-button-modifier-color-scheme(primary);
// @include w-panel-modifier-color-scheme();
