{# Template: html (top-level layout) #}
<html>
<head>
  <title>{{ site.name }}</title>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/normalize/5.0.0/normalize.css" type="text/css" />
  {% block head %}{% include 'partials/head.twig' %}{% endblock %}
</head>
<body class="{{ body_class }}">
{% block l_site_container %}
  <div id="l-site-container">
  {% block l_navbar %}{% include 'partials/navbar.twig' ignore missing %}{% endblock %}
  {% block l_banner %}{% include 'partials/banner.twig' ignore missing %}{% endblock %}
  {% block l_page %}
    <div id="l-page">
      {% block l_content %}{% endblock %}
      {% block l_sidebar %}{% endblock %}
    </div>
  {% endblock %}
  {% block l_footer %}{% include 'partials/footer.twig' ignore missing %}{% endblock %}
  {% block l_offcanvas %}{% include 'partials/offcanvas.twig' ignore missing %}{% endblock %}
  {% block l_scripts %}{% include 'partials/scripts.twig' ignore missing %}{% endblock %}
  </div>
{% endblock %}
</body>
<script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
</html>
