// test for PostCSS:cssnext
:root {
  --color: blue;
}

// test for PostCSS:autoprefix or autoprefix without PostCSS
:fullscreen a {
  color: var(--color);
}

// test for scss working with PostCSS
$test-width: 500px;

.test-container-1 {
  lost-center: $test-width;

  // test for PostCSS:utilities
  .box1 {
    @util aspect-ratio(16:9);
    background-color: #dac582;
  }
}

// test for PostCSS:lost grid system
.test-container-2 {
  background: gray(90);
  lost-center: $test-width;
  margin-top: 1rem;
  div {
    lost-column: 1/3;
    box-sizing: border-box;
    border: 1px solid gray(80);
    background: gray(70);
  }
}

.test-container-3 {
  lost-center: $test-width;
  margin-top: 1rem;

  .row {
    //lost-utility: clearfix;
    @util clearfix;
    background: gray(90);
  }
  .quarter {
    lost-column: 1/4 0;
    background: gray(70);
  }
  .half {
    lost-column: 1/2 0;
    background: gray(50);
  }
}

// manual test for lost-column output
.test-container-4 {
  lost-center: $test-width;
  margin-top: 1rem;
  box-sizing: border-box;

  div {
    width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
    box-sizing: border-box;
    background: gray(70);
    &:nth-child(1n) {
      float:left;
      margin-right:30px;
    }
    &:nth-child(3n+1) {
      clear:both;
    }
    &:nth-child(3n) {
      margin-right:0;
      float: right;
    }
  }
  .box1 {
    lost-offset: 1/3;
  }
  .box2 {
  }
  .box3 {
  }
  .box4 {
  }
}


//--- for autoprefixer test
.aaa {
  transform: scale(0.5);
}

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
