//=========================================================
//
//  @package WCL Docs
//  @file   site layout example configuration
//
//=========================================================

// media queries
@custom-media --mini     (width<480px);
@custom-media --small    (width>=480px);
@custom-media --medium   (width>=768px);
@custom-media --large    (width>=960px);
@custom-media --xlarge   (width>=1220px);

@custom-media --small-only  (480px <= width < 768px); // <=480px(width>=480px) and (width<768px);
@custom-media --medium-only (768px <= width <960px);
@custom-media --large-only  (960px <=width < 1220px);

@custom-media --small-down  (width<768px);
//
//body {
//  @media (--mini)  { background: blue; }
//  @media (--small) { background: magenta; }
//  @media (--medium) { background: red; }
//  @media (--large) { background: green; }
//  @media (--xlarge) { background: yellow; }
//}




$w-site-max-width: 1220px;

//--- grid
$w-grid-max-count:              16 !default;
$w-grid-gutter-width:           1rem !default;  // 20px


#l-site-container {
  width: 100%;
  border: 1px solid blue;
}

#l-header {
  @util clearfix;
  background: gray(90%);
}

#l-content-wrapper {
  lost-center: $w-site-max-width;
}

#l-content {
  width: 100%;
  @media (--medium) {
    float: left;
    width: calc(100% - 300px);
    //lost-column: 12/16 0;
  }
  background: lightgreen;
}

#l-sidebar {
  width: 100%;
  background: brown;
  @media (--medium) {
    float: right;
    //lost-column: 4/16 0;
    width: 300px;
  }
}

#l-footer {
  width: 100%;
  background: gray(70%);
}
