<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gulp Build Manager Sample - Panini</title>
</head>
<body>
<div id="l-site-container">
  <div id="l-header">
    {{> header}}
  </div>
  <div id="l-content-wrapper">
    <div id="l-content">
      {{> content}}
    </div>
    <div id="l-sidebar">
      {{> sidebar}}
    </div>
  </div>
  <div id="l-footer">
    {{> footer}}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
