//--- variables
$z-index:                     1000 !default;
$site-max-width:              1220px !default;
$site-page-width:             $site-max-width !default;
$color-bahama-blue:           #285880 !default;
$sidebar-width:               20rem !default;
$content-width:               calc(100% - #{$sidebar-width}) !default;



//--- mixins
@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}


//--- styles
[id^='l-'] { box-sizing: border-box; }

#l-site-container {
  margin: 0;
  padding: 0;
}

#l-header {
  position: relative;
  margin: 0 auto;
  z-index: 1000;
  @include clearfix();
}

#l-page {
  max-width: $site-page-width;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(#000, 0.3);
  #l-content {
    width: 100%;
    padding: 0;
    border: 1px solid rgba(#000, 0.3);
  }
  #l-sidebar {
    width: 100%;
    padding: 0;
    border: 1px solid rgba(#000, 0.3);
  }

  @media screen and (min-width: 1024px) {
    #l-content {
      float: left;
      width: $content-width;
      padding: 0 1.5rem 0 0;
    }
    #l-sidebar {
      float: right;
      width: $sidebar-width;
      padding: 0 0 0 1.5rem;
    }
    @include clearfix();
  }
}

#l-footer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;

  text-align: center;
  border-top: 1px solid gray(70%, 0.5);
  color: #eee;
  background: rgba(#000, 0.8);
}



#l-navbar {
  background: $color-bahama-blue;
  height: 3.5rem;
}

.navbar {
  max-width: $site-max-width;
  margin: 0 auto;
  padding: 0 1rem;
  border-radius: 3px;
  height: 3.5rem;
  a {
    color: #eee;
    text-decoration: none;
  }

  .site-logo {
    float: left;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav {
    height: 3.5rem;
    float: right;
    margin: 0;
    padding: 0;
    li {
      float: left;
      padding: 1rem 0.5rem;
      list-style: none;
    }
  }
  @include clearfix;
}

.footer-logo {
  font-style: italic;
  .logo-text {
    color: rgba(yellow, 0.7);
  }
}
