<div id="l-banner">
  <h1 class="title">Gulp Build Manager</h1>
  <h2 class="tagline">Easy to use, flexible gulp task manager.</h2>
  <p class="version">Versoion {{ version }}</p>
  <a href="https://github.com/shnam7/gulp-build-manager" class="btn">View on GitHub</a>
</div>
