body {
  background: lightyellow;
}

.title {
  text-align: center;
  color: darkblue;
}

.description {
  text-align: center;
  font-size: 1.5rem;
}

.notes {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10rem
}