{% extends 'base.twig' %}
{% block l_content %}<div id="l-content">{% markdown '../markdown/index.md' %}{% endmarkdown %}</div>{% endblock %}
{% block l_sidebar %}<div id="l-sidebar">Sidebar</div>{% endblock %}
