{% extends 'base.twig' %}
{% block l_content %}
  <div class="content">{% markdown '../markdown/index.md' %}{% endmarkdown %}</div>{% endblock %}
{% block l_sidebar %}
  <div class="sidebar">
    <h1>Sidebar</h1>
    <h3>Data loading test</h3>
    <ul>
      <li>site.name: {{ site.name }}</li>
      <li>page.title: {{ page.title }}</li>
      <li>nav[0].title: {{ nav[0].title }}</li>
    </ul>
  </div>
{% endblock %}
